name: PHP CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Give execute permission to build.sh
      run: chmod +x build.sh

    - name: Run build script
      run: ./build.sh


    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Give permission to build.sh
      run: chmod +x build.sh

    - name: Run Build Script
      run: ./build.sh

    # Upload Artifact to S3
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Upload ZIP to S3
      run: |
        aws s3 cp build/php-app.zip s3://${{ secrets.S3_BUCKET }}/php-app.zip

    # Deploy to Nginx Server using SSH
    - name: Deploy to Nginx Server
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          echo "Downloading artifact from S3..."
          aws s3 cp s3://${{ secrets.S3_BUCKET }}/php-app.zip /tmp/php-app.zip

          echo "Extracting..."
          sudo rm -rf ${{ secrets.REMOTE_PATH }}/*
          sudo unzip /tmp/php-app.zip -d ${{ secrets.REMOTE_PATH }}

          echo "Setting permissions..."
          sudo chown -R www-data:www-data ${{ secrets.REMOTE_PATH }}
          sudo chmod -R 755 ${{ secrets.REMOTE_PATH }}

          echo "Restarting services..."
          sudo systemctl restart nginx
          sudo systemctl restart php8.2-fpm || true

          echo "Deployment successful!"
